tr{
  border-collapse: collapse;
}

/* #user1{

  padding: 50px;
  background-color: rgb(240, 242, 242);
}
#load{
  position: relative;
  left: 500px;
  top: 100px;
} */
#addemp{
  margin-bottom: 30px;
}
.list-gruop > a {
  align-items: center;
  padding-top: 20px;
  margin-top: 20px;

}