<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1>Student Management System</h1>

    <div class="container col-3 add-btn">
      <div class="row add-btn">
        <button
          class="btn btn-primary "
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          type="submit"
          value="Add Student"
          style="margin-top: 40px  ;"
        >
          Add Student
        </button>
      </div>
    </div>

    <div class="container col">
      <h1 class="text-center" style="color: aliceblue ;">Student Table</h1>

      <div
        class="col container text-center text-center"
        style="overflow: auto; max-height: 400px"
      >
        <table class="table table-success table-striped">
          <thead>
            <tr id="headcontent">
              <th>id</th>
              <th>name</th>
              <th>mobile</th>
              <th>update</th>
              <th>delete</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="student : ${students}">
              <td th:text="${student.id}"></td>
              <td th:text="${student.name}"></td>
              <td th:text="${student.mobile}"></td>
             

              <td>
                     <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  update
                 </button>
            </td>
            <td>
                <a method="delete" thth:action= "${students/delete/{id}}" th:href="@{students/delete/{id}(id=${student.id})}" class="btn btn-danger" type="button">Delete</a>
            </td>
            
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- ***************************************************************************** -->


    <!--  Add student -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
     >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              update
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="post" action="addstudent" th:object="${student}">
              <label>Student id</label>
              <input type="number" name="id"  class="form-control"  />

              <label> Student Name</label>
              <input type="text" name="name" class="form-control" />

              <label>Mobile Number</label>
              <input type="tel" name="mobile"  class="form-control" />

              <input
                type="submit"
                class="btn btn-success"
                style="margin-top: 30px"
              />
            </form>
           

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

  
  
  
    <div class="update-student">
     
  

<!-- update student -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">add</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form method="Post"  action="@{students/update/{id}(id=${student.id})}"  th:object="${student}">
          <label>Student id</label>
          <input type="number" name="id" class="form-control" disabled/>

          <label> Student Name</label>
          <input type="text" name="name" class="form-control" />

          <label>Mobile Number</label>
          <input type="tel" name="mobile" class="form-control" />

          <input
            type="submit"
            class="btn btn-success"
            style="margin-top: 30px"
          />
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
