th,
td {
  border: 1px solid;
  padding: 5px;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2019/04/03/08/06/forest-4099730_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;

  color: white;
  margin-top: 60px !important;
}

.add-btn{
  position: relative;
  right: 190px;
  top: 20px;
}
